@model IEnumerable<ASPtercertrimestre.Models.producto>

<select class="form-control" id="id_producto" name="id.producto">
    @foreach (var item in Model)
            {
                <option value="@item.id">@item.nombre</option>
            }
</select>
