
@{
    ViewBag.Title = "Biografia";
}

<h2>Biografia</h2>

<p>Lorem ipsum dolor sit amet consectetur adipiscing elit ultricies suscipit,
    eros habitasse fusce nascetur vel luctus suspendisse hac. Ligula commodo
    turpis egestas maecenas dis massa mauris magna etiam, nunc odio fringilla
    sollicitudin laoreet dui orci. Ridiculus nascetur fermentum dictum lectus
    rutrum phasellus feugiat habitasse quis, orci nec imperdiet a cum himenaeos
    neque convallis, vestibulum mus mi torquent luctus ante nunc vivamus.
</p>

