@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/Plantilla.cshtml";
}

@section textoParrafo{
    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T.
}


@{
    int numero = 123;
    string nombre = "nombre";
}

<p> @numero</p>

@if (numero > 100)
{
    <h3>El numero es mayor a 100</h3>
}
else
{
    <h3>El numero es mayor a 100</h3>
}