
@{
    ViewBag.Title = "Index";
}

@{
    var num1 = 12;
}

<h2>Index</h2>

<p>
    Lorem Ipsum ha sido el texto de relleno estándar de las industrias
    desde el año 1500, cuando un impresor (N. del T. persona que se
    dedica a la imprenta) desconocido usó una galería de textos y los
    mezcló de tal manera que logró hacer un libro de textos especimen.
</p>
<table>
    <tr>
        <td>Elemento</td>
        <td>Elemento</td>
    </tr>

</table>
<button>boton</button>
<p>@num1</p>
<input type="text"/>
